<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-input></ion-input>
  <ion-item>
    <ion-label position="floating">Name</ion-label>
    <ion-input type="name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input type="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>
  <ion-button color="success" type="password">Register</ion-button>
  <ion-button expand="block" [routerLink]="['/login']" routerLinkActive="router-link-active" >Already have an account?, Login</ion-button>
</ion-content>
